// Posts

.controller--posts.action--show {
  padding-top: 150px;

  @include breakpoint(md) {
    padding-top: 30px;
  }
}

.home__post-list {
  background-color: $black;
  border-top: 1px solid $white;

  &:last-child {
    border-bottom: 1px solid $white;
  }

  &:hover {
    background-color: $white;
    color: $black;
  }
}

.all-related-post-list {
  overflow: auto;
  // white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.all-related-post-list__item {
  // width: 100px;
  // margin: 0 ($gutter / 2);
  // display: inline-block;
}
