<div class="site-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <%= link_to block.link_label, block.link_url, class: 'button' %>
      </div>
    </div>
  </div>
</div>
