<div class="slideshow-block__slide-wrapper slideshow-block__slide-wrapper--small">
  <% block.slideshow_block_slides.each_with_index do |slideshow_block_slide, index| %>
    <%= image_tag slideshow_block_slide.media_item.attachment.url(:large),
                  class: "slideshow-block__slide #{'active' if index.zero?}",
                  style: "max-height: #{slideshow_block_slide.media_item.landscape? ? rand(45..65) : rand(65..95)}vh; top: #{rand(35..65)}%; left: #{rand(35..65)}%;" %>
  <% end %>
</div>
<div class="slideshow-block__slide-wrapper slideshow-block__slide-wrapper--large">
  <% block.slideshow_block_slides.each_with_index do |slideshow_block_slide, index| %>
    <%= image_tag slideshow_block_slide.media_item.attachment.url(:large),
                  class: "slideshow-block__slide #{'active' if index.zero?}",
                  style: "max-height: #{slideshow_block_slide.media_item.landscape? ? rand(30..50) : rand(50..70)}vh; top: #{rand(35..65)}%; left: #{rand(35..65)}%;" %>
  <% end %>
</div>
