<% cache [application_cache_key, 'home'], expires_in: 4.weeks do %>
  <div class="site-container">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="display-title text-center">
            <%= md site_title %>
          </div>
        </div>
      </div>

      <% @posts.each do |post| %>
        <div class="row">
          <div class="col">
            <div class="h4">
              <%= link_to md(post.title), post_path(post.to_friendly_param), class: 'default-link' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
