<div class="site-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <%= lazy_video block, src: block.media_item.attachment.url %>
        <%= content_tag :div, md(block.media_item.caption), class: 'caption' if block.media_item.caption.present? %>
      </div>
    </div>
  </div>
</div>
