// Header

@keyframes header-jiggle {
  0%  { transform: rotate(-5deg); }
  50% { transform: rotate(5deg); }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.header__home-logo {
  animation: header-jiggle 1s infinite linear;
  animation-play-state: paused;
  animation-direction: alternate;

  &:hover {
    animation-play-state: running;
  }
}
