// Home page

.controller--home_pages {
  padding-top: calc(100vh + 20px);

  // @media (min-height: 550px) {
  //   padding-top: 85vh;
  // }

  // @media (min-height: 650px) {
  //   padding-top: 75vh;
  // }
}

.home__logo {
  width: 100%;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: -1;
}

.home__forward-container {
  margin-top: 50vh;
}

.home__colophon-container {
  margin-top: 50vh;
}

.home__post-card {
  position: relative;
  z-index: 2;
  box-shadow: -3px 3px 20px rgba(255, 255, 255, 0.4);
  border: 1px solid transparent;

  &:hover {
    color: $white;
    background-color: $black;
    border: 1px solid $white;
  }
}

.home__post-image-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
}

.home__floating-image {
  position: fixed;
  transform: translate(-50%, -50%);
  max-width: 25%;
  z-index: -1;
  // mix-blend-mode: difference;
}

.home__buttons {
  opacity: 0;
  position: fixed;
  top: 30px;
  right: $site-padding-sm;
  z-index: 10;
  transition: opacity 0.3s;

  .has-scrolled & {
    opacity: 1;
  }
}
