// Images

img {
  vertical-align: bottom;
}

.lazy-image {
  transition: opacity 0.3s;
}

.lazyload,
.lazyloading {
  opacity: 0;
}

.lazyloaded {
  opacity: 1;
}

.forest-image-jump-fix--image-jpeg {
  background-color: $image-placeholder-background-color;
}

.caption {
  margin-top: map-get($spacers, 2);
}

.background-image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.background-image-contain {
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
}

.landscape-image {
  height: 0;
  padding-bottom: 66%;
}

.square-image {
  height: 0;
  padding-bottom: 100%;
}
