// Markdown

.markdown {
  h1, h2, h3, h4, h5, h6 {
    @include h4;
    margin-bottom: map-get($spacers, 2);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &.body-text-large {
    h1, h2, h3, h4, h5, h6 {
      @include h3;
    }
  }
}

.md-image {
  max-height: 1.2em;

  &:hover {
    transform: scale(3);
  }
}

.two-column-text {
  column-count: 1;
  column-gap: $gutter * 2;

  @include breakpoint(md) {
    column-count: 2;
  }
}
