// Slideshow Block

.slideshow-block {
  height: 100vh;
  position: relative;
  cursor: pointer;
}

.slideshow-block__slide {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &.active {
    z-index: 1;
  }
}
