<div class="row">
  <div class="col-sm-6">
    <%= f.input :embed_code %>
  </div>
  <div class="col-sm-6">
    <%= f.input :full_bleed, hint: 'By default, embed code is contained within the 12 column grid.' %>
  </div>
</div>
