<% content = capture do %>
  <div class="lazy-content--source">
    <%= block.embed_code %>
  </div>
<% end %>

<% if block.full_bleed? %>
  <%= content_tag :div, nil, class: 'lazy-content', data: { lazy_content: content } %>
<% else %>
  <div class="site-container">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <%= content_tag :div, nil, class: 'lazy-content', data: { lazy_content: content } %>
        </div>
      </div>
    </div>
  </div>
<% end %>

